<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>assignment.com.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinancialAidServlet</servlet-name>
        <servlet-class>assignment.com.FinancialAidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinancialServlet</servlet-name>
        <servlet-class>assignment.com.FinancialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinancialAidServlet2</servlet-name>
        <servlet-class>assignment.com.FinancialAidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>assignment.com.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>assignment.com.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDataServlet</servlet-name>
        <servlet-class>assignment.com.UpdateDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>assignment.com.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteApplicationServlet</servlet-name>
        <servlet-class>assignment.com.DeleteApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitConcernServlet</servlet-name>
        <servlet-class>assignment.com.SubmitConcernServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InnerJoinApplication</servlet-name>
        <servlet-class>HandlingStatus.InnerJoinApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>assignment.com.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveConcern</servlet-name>
        <servlet-class>ConcernHandling.SaveConcern</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinancialAidServlet</servlet-name>
        <url-pattern>/FinancialAidServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinancialServlet</servlet-name>
        <url-pattern>/FinancialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinancialAidServlet2</servlet-name>
        <url-pattern>/FinancialAidServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDataServlet</servlet-name>
        <url-pattern>/UpdateDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteApplicationServlet</servlet-name>
        <url-pattern>/DeleteApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitConcernServlet</servlet-name>
        <url-pattern>/SubmitConcernServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InnerJoinApplication</servlet-name>
        <url-pattern>/InnerJoinApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveConcern</servlet-name>
        <url-pattern>/SaveConcern</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
